body {
    background-color: gainsboro;
    margin-left: 200px;
    margin-right: 200px;
}

#cars_table {
    !important;
    background-color: whitesmoke;
    table-layout:fixed; width:450px;
}

#cars_table td {
    overflow:hidden;
}
#cars_table td:nth-of-type(1) {
    width:450px;
}
#cars_table td:nth-of-type(2) {
    width:450px;
}

#add_car_table {
    !important;
    background-color: whitesmoke;
}

#create_button {
    float: right;
}

img {
    width: 450px;
    height: 450px;
}